{% extends 'general/layout.html' %}
{% load crispy_forms_tags %}
{% block title %}Editar perfil{% endblock %}

{% block content %}
<div class="container py-4">
  <h3>Editar perfil</h3>
  <div class="card p-3">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="mt-3">
        <button class="btn btn-primary" type="submit">Guardar cambios</button>
        <a href="{% url 'profiles:detail' request.user.username %}" class="btn btn-secondary ms-2">Cancelar</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}